{{ define "main" }}
    <h1>{{ .Title }}</h1>
    {{ with .Params.author }}<p>Auteur : {{ . }}</p>{{ end }}
    
    <div class="byline">
        <time datetime="{{.Date.Format " 2006-01-02"}}" class="entry-date dateline">{{ .Date | time.Format ":date_long" }}</time>
    </div>
    
    {{ with .GetTerms "categories" }}
        <div class="">
            {{ range . }}
            <a class="" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            {{ end }}
        </div>
    {{ end }}
    
    {{ with .GetTerms "tags" }}
        <div class="">
            {{ range . }}
            <a class="" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            {{ end }}
        </div>
    {{ end }}
    
    {{ .Content }}
{{ end }}